@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

body {
    background: #020410;
}
img{
    border-radius: 20px;
}
.logo{
    max-width: 100px;
    cursor: pointer;
    align-items: left;
}
.nav-link{
    align-items: center;
}
.nav-items{
    align-items: center;
}
